#rangeValue {
    position: relative;
    text-align: center;
    width: 60px;
    font-size: 1.25em;
    color: #fff;
    background: #27a0ff;
    margin-left: 15px;
    border-radius: 25px;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff,
        inset 5px 5px 10px rgba(0, 0, 0, 0.1),
        inset -5px -5px 5px rgba(255, 255, 255, 0.05);
}

.middle {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    display: inline-block;
}

.slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 15px;
}

.slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.slider > .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #000000;
}

.slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 28px;
    height: 28px;
    background-color: #000000;
    border-radius: 50%;
}

.slider > .thumb.left {
    left: 25%;
    transform: translate(-15px, -10px);
}

.slider > .thumb.right {
    right: 25%;
    transform: translate(15px, -10px);
}

.range_slider {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}

.range_slider::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    cursor: pointer;
    -webkit-appearance: none;
}

#multi_range {
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    width: 200px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #111111;
}
/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option {
	background: #ffffff;
	padding-bottom: 1rem;
	padding-top: 1rem;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
}

.breadcrumb__text h4 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 8px;
}

.breadcrumb__links a {
	font-size: 15px;
	color: #111111;
	margin-right: 18px;
	display: inline-block;
	position: relative;
    text-decoration: none;
}

.breadcrumb__links a:after {
	position: absolute;
	right: -14px;
	top: 0;
	content: "";
	font-family: "FontAwesome";
}

.breadcrumb__links span {
	font-size: 15px;
	color: #b7b7b7;
	display: inline-block;
    text-decoration: underline;
}


/*---------------------
  Shop
-----------------------*/

.shop__sidebar {
    padding-top: 10px;
	padding-right: 20px;
}

.shop__sidebar__search {
	margin-bottom: 45px;
    box-shadow: 0 1px 8px 1px rgba(62,57,107,.08);
    border-radius: 10px;
}

.shop__sidebar__search form {
	position: relative;
    width:100%;
}

.shop__sidebar__search form input {
	width: 100%;
	font-size: 15px;
	color: #b7b7b7;
	padding-left: 20px;
    border-radius: 10px;
	border: 1px solid #e5e5e5;
	height: 42px;
}

.shop__sidebar__search form input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input::-moz-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input:-ms-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input::-ms-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input::placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form button {
	color: #b7b7b7;
	font-size: 15px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	padding: 0 15px;
	top: 0;
	height: 100%;
}

/* Search Konserku*/
.shop__sidebar__searchh {
    box-shadow: 0 1px 8px 1px rgba(62,57,107,.08);
	margin-bottom: 45px;
    margin-top: 5px;
    border-radius: 10px;
}

.shop__sidebar__searchh form {
	position: relative;
    width:100%;
}

.shop__sidebar__searchh form input {
	width: 100%;
	font-size: 15px;
	color: #b7b7b7;
	padding-left: 20px;
    border-radius: 10px;
	border: 1px solid #e5e5e5;
	height: 42px;
}

.shop__sidebar__searchh form input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__searchh form input::-moz-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__searchh form input:-ms-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__searchh form input::-ms-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__searchh form input::placeholder {
	color: #b7b7b7;
}

.shop__sidebar__searchh form button {
	color: #b7b7b7;
	font-size: 15px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	padding: 0 15px;
	top: 0;
	height: 100%;
}


.shop__sidebar__accordion .card {
	border: none;
	border-radius: 0;
	margin-bottom: 25px;
}

.shop__sidebar__accordion .card:last-child {
	margin-bottom: 0;
}

.shop__sidebar__accordion .card:last-child .card-body {
	padding-bottom: 0;
	border-bottom: none;
}
.shop__sidebar__accordion .card-bodys {
	padding: 0;
	padding-top:2px;
	padding-bottom: 50px;

}
.shop__sidebar__accordion .card-body {
	padding: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.shop__sidebar__accordion .card-heading {
	cursor: pointer;
}

.shop__sidebar__accordion .card-heading a {
	color: #111111;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
}


.shop__sidebar__categories ul,
.shop__sidebar__price ul,
.shop__sidebar__brand ul {
	height: 225px;
}

.shop__sidebar__categories ul li,
.shop__sidebar__price ul li,
.shop__sidebar__brand ul li {
	list-style: none;
}

.shop__sidebar__categories ul li a,
.shop__sidebar__price ul li a,
.shop__sidebar__brand ul li a {
	color: #b7b7b7;
	font-size: 15px;
	line-height: 32px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.shop__sidebar__categories ul li a:hover,
.shop__sidebar__price ul li a:hover,
.shop__sidebar__brand ul li a:hover {
	color: #111111;
}


/* Product */
.product__item {
    -webkit-transition:all .25s ease;
    box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
    border-radius:5%;
	overflow: hidden;
	margin-bottom: 40px;
    transition:  all .25s ease;
}
.product__item:hover{
    box-shadow: 0 1px 30px 1px rgba(62,57,107,.14);
}


.product__item.sale .product__item__pic .label {
	color: #ffffff;
	background: #111111;
}

.product__item.sale .product__item__text .rating i {
	color: #f7941d;
}

.product__item.sale .product__item__text .rating i:nth-last-child(1) {
	color: #b7b7b7;
}

.product__item:hover .product__item__pic .product__hover {
	right: 17px;
	opacity: 1;
}

.product__item:hover .product__item__text a {
	top: 22px;
	opacity: 1;
	visibility: visible;
}

/* .product__item:hover .product__item__text h6 {
	opacity: 0;
} */

.product__item:hover .product__item__text .product__color__select {
	opacity: 1;
}

.product__item__pic {

	height: 100%;
	position: relative;
	background-position: center center;
}

.product__item__pic .label {
	color: #111111;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 15px 2px;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: 20px;
}

.product__item__pic .product__hover {
    padding-right: 30px;
	position:absolute;
	right: -200px;
	top: 20px;
	-webkit-transition: all, 0.8s;
	-o-transition: all, 0.8s;
	transition: all, 0.8s;
}

.product__item__pic .product__hover li {
	list-style: none;
	margin-bottom: 10px;
	position: relative;
}

.product__item__pic .product__hover li:hover span {
	opacity: 1;
	visibility: visible;
}

.product__item__pic .product__hover li span {
	color: #ffffff;
	background: #111111;
	display: inline-block;
	padding: 4px 10px;
	font-size: 12px;
	position: absolute;
	left: -78px;
	top: 5px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__pic .product__hover li span:after {
	position: absolute;
	right: -2px;
	top: 5px;
	height: 15px;
	width: 15px;
	background: #111111;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: -1;
}

.product__item__pic .product__hover li img {
	background: #ffffff;
	padding: 10px;
	display: inline-block;
}

.product__item__text {
    text-align: left;
    padding: 0.8rem;
	padding-top: 5px;
	position: relative;
}


.product__item__text a {
	font-size: 15px;
	color: #e53637;
	font-weight: 700;
	position:absolute;
	left: 0;
	top: 0;
    padding-top: 18px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text h6 {
    display: flex;
    justify-content:space-between;
	color: #111111;
	font-size: 1.2rem;
	font-weight: 600;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
    padding: 0.9rem;
}
.product__item__text h6 span{
    color: #b7b7b7;
    font-size: 1.1rem;
}

.product__item__text .rating {
	margin-bottom: 6px;
}

.product__item__text .rating i {
	font-size: 14px;
	color: #b7b7b7;
	margin-right: -5px;
}

.product__item__text h4 {
    font-size: 1.1rem;
	color: #0d0d0d;
}
.product__item__text h5 {
    font-size: 1rem;
	color: #000000;
}

.product__item__text .product__color__select {
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__text .product__color__select label {
	display: inline-block;
	height: 12px;
	width: 12px;
	background: #5e64d1;
	border-radius: 50%;
	margin-bottom: 0;
	margin-right: 5px;
	position: relative;
	cursor: pointer;
}

.product__item__text .product__color__select label.black {
	background: #404a47;
}

.product__item__text .product__color__select label.grey {
	background: #d5a667;
}

.product__item__text .product__color__select label.active:after {
	opacity: 1;
}

.product__item__text .product__color__select label:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 18px;
	width: 18px;
	border: 1px solid #b9b9b9;
	content: "";
	border-radius: 50%;
	opacity: 0;
}

.product__item__text .product__color__select label input {
	position: absolute;
	visibility: hidden;
}
@media(max-width:1361px){
    .product__item__text h6{
        font-size: 100%;
    }
    .product__item__text h6 span{
        font-size: 100%;
    }
    .product__item__text h5{
        font-size: 100%;
    }
}
@media(width:992px){
    .product__item__text h6 {
        font-size: 80%;
    }
    .product__item__text h5{
        font-size: 100%;
    }
}
